$colorWhite: #FFFFFF;
$colorBlack: #333333;
$colorGrey: #999999;
$colorGreyLight: #666666;
$colorPerple: #A65CF0;
$colorPerpleHover: #C998FB;
$colorPerpleActive: #7033AC;
$colorOrange: #FF862F;
$colorBg: #F7F7F7;
$colorDisable: #EAEAEA;
$colorGreyWhite: #EBD1FF;
$colorWhiteGrey: #F8EFFF;